/* Reset and base styles  */
@import url(https://fonts.googleapis.com/css?family=Gelasio:regular,500,600,700,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gelasio", sans-serif;
  color: #081f32;
  font-size: 16px;
  font-weight: 500;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.title-1 {
  font-weight: 600;
  font-size: 57px;
  line-height: 1.2;
}

.title-2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.4;
}

.title-3 {
  font-size: 24px;
  line-height: 1.5;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  opacity: 0.6;
}

.btn {
  font-family: "Roboto", sans-serif;
  background-color: #007fe0;
  border-radius: 5px;
  padding: 15px 30px;
  line-height: 1.5;
  color: #fff;
  transition: background-color 0.2s ease-in, transform 0.2s ease-in;
}

.btn:hover {
  background-color: #1b75bb;
}

.btn:active {
  transform: translateY(2px);
}

.header {
  padding: 35px 0;
  background-image: url(./../img/header/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__nav {
  margin-bottom: 120px;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.nav-link {
  color: #081f32;
  transition: color 0.2s ease-in;
}

.nav-link:hover {
  color: #007fe0;
}

.nav-link--active {
  color: #007fe0;
}

.header__main-text {
  max-width: 456px;
}

.header__title {
  margin-bottom: 25px;
}
.header__title span {
  color: #007fe0;
}

.header__subtitle {
  max-width: 347px;
  margin-bottom: 30px;
}

.header__main-btn {
  margin-bottom: 50px;
}

.header-plate {
  position: relative;
  right: 35px;
  max-width: 697px;
  padding: 25px 50px;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

.header-plate__row {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.header-plate__item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}
.header-plate__item p {
  font-weight: 400;
}

.header-plate__btn {
  margin-left: 30px;
}

.benefits {
  padding: 120px 0 70px;
}

.benefits__heading {
  max-width: 820px;
  margin: 0 auto;
  text-align: center;
}

.benefits__title {
  margin-bottom: 25px;
}

.benefits__subtitle {
  margin-bottom: 60px;
}

.benefits__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.benefits__item {
  max-width: 262px;
  padding: 17px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0 4px 30px 0 rgba(199, 199, 199, 0.1);
  background: rgba(255, 255, 255, 0.1);
  cursor: default;
}

.benefits__item-title {
  margin-top: 40px;
}

.benefits__item-subtitle {
  margin-top: 15px;
}

.gallery {
  padding: 70px 0 100px;
}

.gallery__grid {
  display: grid;
  gap: 30px;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 337px;
}

.gallery__info-item__title {
  margin-bottom: 25px;
}

.gallery__info-item__subtitle {
  margin-bottom: 30px;
  max-width: 440px;
}

.gallery__item {
  position: relative;
  min-height: 337px;
  transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
}
.gallery__item:hover {
  box-shadow: 0 15px 50px 0 rgba(199, 199, 199, 0.5);
  transform: translateY(-6px);
}

.gallery__item-1 {
  background-image: url(./../img/gallery/01.jpg);
  background-repeat: no-repeat;
}

.gallery__item-2 {
  background-image: url(./../img/gallery/02.jpg);
  background-repeat: no-repeat;
}

.gallery__item-3 {
  background-image: url(./../img/gallery/03.jpg);
  background-repeat: no-repeat;
}

.gallery__item-4 {
  background-image: url(./../img/gallery/04.jpg);
  background-repeat: no-repeat;
}

.gallery__item-5 {
  background-image: url(./../img/gallery/05.jpg);
  background-repeat: no-repeat;
}

.gallery__item-plate {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px;
  background: rgba(226, 226, 226, 0.4);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.gallery__item-heading {
  color: #081f32;
  display: flex;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
}

.gallery__item-heading-title {
  font-size: 18px;
  line-height: 1.6;
}

.gallery__item-heading-price {
  font-family: "Gelasio", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
}

.gallery__item-plate__btn {
  margin-top: 10px;
  padding: 10px 20px;
  font-family: "Gelasio", sans-serif;
}

.cta {
  padding-bottom: 120px;
}

.cta__heading {
  text-align: center;
}

.cta__subtitle {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  opacity: 0.8;
  margin-bottom: 20px;
}

.cta__title {
  margin-bottom: 50px;
}

.cta__form {
  max-width: 570px;
  margin: 0 auto;
}

.form {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.form-input {
  flex-grow: 1;
  font-family: "Poppins", sans-serif;
  padding: 15px 30px;
}

.form-btn {
  font-family: "Poppins", sans-serif;
  padding: 15px 40px;
  letter-spacing: 0.03em;
}
.form-btn:active {
  transform: none;
}

.footer {
  padding: 60px 0 100px;
  background: #fcfcfd;
  font-family: "Poppins", sans-serif;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 70px;
       column-gap: 70px;
}

.footer__item-subtitle {
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
}

.footer__item-name {
  font-size: 20px;
  line-height: 1.5;
}

.footer__item-contacts li {
  margin-top: 20px;
}
.footer__item-contacts a {
  color: #081f32;
}
.footer__item-contacts a:hover {
  color: #007fe0;
}

.footer__form-title {
  font-size: 20px;
  line-height: 150%;
}

.footer__form {
  margin-top: 30px;
}/*# sourceMappingURL=main.css.map */