.cta {
  padding-bottom: 120px;
}
.cta__heading {
  text-align: center;
}
.cta__subtitle {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: $second-font;

  opacity: 0.8;
  margin-bottom: 20px;
}
.cta__title {
  margin-bottom: 50px;
}
.cta__form {
  max-width: 570px;
  margin: 0 auto;
}
.cta__form-btn {
}
