.gallery__item {
  position: relative;
  min-height: 337px;

  transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;

  &:hover {
    box-shadow: 0 15px 50px 0 rgba(199, 199, 199, 0.5);
    transform: translateY(-6px);
  }
}

.gallery__item-1 {
  background-image: url(./../img/gallery/01.jpg);
  background-repeat: no-repeat;
}
.gallery__item-2 {
  background-image: url(./../img/gallery/02.jpg);
  background-repeat: no-repeat;
}
.gallery__item-3 {
  background-image: url(./../img/gallery/03.jpg);
  background-repeat: no-repeat;
}
.gallery__item-4 {
  background-image: url(./../img/gallery/04.jpg);
  background-repeat: no-repeat;
}
.gallery__item-5 {
  background-image: url(./../img/gallery/05.jpg);
  background-repeat: no-repeat;
}
.gallery__item-plate {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 25px;

  background: rgba(226, 226, 226, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(10px);
}
.gallery__item-heading {
  color: $text-color;

  display: flex;
  align-items: center;
  column-gap: 25px;
}
.gallery__item-heading-title {
  font-size: 18px;
  line-height: 1.6;
}
.gallery__item-heading-price {
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
}
.gallery__item-plate__btn {
  margin-top: 10px;
  padding: 10px 20px;
  font-family: $main-font;
}
