.header__main {
}
.header__main-text {
  max-width: 456px;
}
.header__title {
  margin-bottom: 25px;
  span {
    color: $accent;
  }
}
.header__subtitle {
  max-width: 347px;
  margin-bottom: 30px;
}
.header__main-btn {
  margin-bottom: 50px;
}
